##
## Yastq script configuration file
##

# Script directory
# SCRIPT_DIR=/absolute/path/to/script/directory
SCRIPT_DIR="/home/pavelpat/Projects/yastq"

# Max of parallels tasks (detected by count cpu cores)
# MAX_PARALLEL_SHEDULES=N
MAX_PARALLEL_SHEDULES=$(fgrep -c processor /proc/cpuinfo)
